@import '../../../../styles/vars';

.postform{
  background-color: #1A1D20;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  .input{
    margin-left: 12px; 
    background-color: $grey;
    outline: none;
    width: 100%;
    border: none;
    color: #fff;
  }
  .image-wrapper{
    position: relative;
    border: none;
    border-radius: 10px;
    height: 40px;
    padding: 0 10px;
    color: white;
    background: transparent;
    margin-left: auto;
  }
  .image-input{
    padding-top: 9px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 20px;
    left: 10px;
    top: 0px;
  }
  .image-span{
    color: #fff;
    position: absolute;
    border: 2px solid $lightGrey;
    border-radius: 6px;
    padding: 1px 5px;
    left: 7px;
    top: 8px;
    cursor: pointer;
  }
  .btn{
    margin-left: 25px;
    color: #fff;
    background-color: $btnGrey;
    padding: 5px 15px;
    border-radius: 6px;
    transition: all .3s ease;
    &:hover{
      background-color: $btnLightGrey;
    }
  }
}