//* Container & BreakPoints
$containerWidth: 1280;
$containerYPadding: 20;
$containerXPadding: 15;

//* Colors
$white: #C4C4C4;
$black: #101014;
$grey: #1A1D20;
$lightGrey: #67707A;
$green: #35CB79;
$btnGrey: #595959;
$btnLightGrey: #696969;
$bodyBackground: $black;


//* Fonts
%font{
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: white;
}

//? Animations
//* Fade
@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}