@import '../../../styles/vars';

.header{
  margin-top: 5px;
  .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    width: 35px;
  }
  .content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  .search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: relative;
    &-input{
      width: 70%;
      text-align: center;
      background-color: #232428;
      color: #fff;
      outline: none;
      overflow: hidden;
      border: none;
      border-radius: 25px;
      padding: 6px 8px;
      @media(max-width: 500px){
        width: 100%;
        margin-right: -10px;
      }
    }
    &-button{
      position: absolute;
      right: 7px;
      width: 30px;
      font-size: 18px;
      color: $lightGrey;
    }
  }
  .notification{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    &-title{
      @media(max-width: 500px){
        display: none;
      }
    }
    &-logo{
      font-size: 18px;
    }
  }
  .line{
    background-color: #2C2C30;
    width: 100%;
    height: 1px;
    margin-top: -10px;
  }
}